@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* header css*/
.logo {
  margin-top: 10px;
}
.search-box {
  font-size: 12px !important;
  width: 183px !important;
}
.btn-search {
  background-color: #5d676e !important;
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.btn-search i {
  color: #fff !important;
  font-size: 14px;
}
.nav-item {
  padding: 0px 7px !important;
  color: #465159;
  font-size: 14px;
  font-weight: 500;
}
.drop-down-box {
  background: #fff;
  width: 600px;
  height: 520px;
  padding: 20px !important;
}
.drop-down-box h3 {
  font-size: 18px !important;
  font-weight: 500 !important;
}
.drop-box {
  border: #b3bdbe solid 1px;
  outline: #b3bdbe transparent 1px;
  border-radius: 12px;
}
.drop-box h5 {
  font-size: 14px;
  color: #2d3941;
}
.drop-box a {
  font-size: 11px;
  color: #5d676e;
  text-decoration: none;
}
.drop-box span {
  font-size: 14;
}
.drop-box:hover.drop-box span {
  color: #6fb842;
  transition: 0.3s;
}
.drop-box:hover {
  border: #6fb842 solid 2px;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.drop-box-2 {
  border: #b3bdbe solid 1px;
  outline: #b3bdbe transparent 1px;
  border-radius: 12px;
  margin-bottom: 10px;
}
.drop-box-2 h5 {
  font-size: 14px;
  color: #2d3941;
}
.drop-box-2 a {
  font-size: 11px;
  color: #5d676e;
  text-decoration: none;
}
.drop-box-2 span {
  font-size: 14;
}
.drop-box-2:hover.drop-box-2 span {
  color: #6fb842;
  transition: 0.3s;
}
.drop-box-2:hover {
  border: #6fb842 solid 2px;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}
.more-drop-main {
  width: 400px !important;
  background: #fff !important;
  border: none !important;
  border-radius: 12px !important;
}
.more-drop {
  border: #b3bdbe solid 1px;
  outline: #b3bdbe transparent 1px;
  border-radius: 12px;
  margin-bottom: 15px;

  padding: 10px;
}
.more-drop h5 {
  font-size: 14px;
  color: #2d3941;
}
.more-drop a {
  font-size: 11px;
  color: #5d676e;
  text-decoration: none;
}
.language li {
  list-style: none;
}
.language i {
  font-weight: 600;
  font-size: 20px;
  color: #2d3941;
}
.language i:hover {
  color: #6fb842;
  transition: 0.3s;
  cursor: pointer;
}
.btn-signUp {
  background: #83c11f !important;
  color: #fff !important;
  padding: 7px 27px 8px;
  margin-right: 13px;
  border-radius: 25px;
  font-weight: 500;
  border: none;
}
.btn-login {
  padding: 7px 27px 8px;
  margin-right: 13px;
  border-radius: 25px;
  font-weight: 500;
  border: none;
  color: #83c11f !important;
  background: none;
}

/* modal css */

.modal-header {
  background: url(img/login-bg.png) top center/100% auto;
  text-align: center;
}

.modal-content {
  width: 888px !important;
  border-radius: 12px !important;
  margin-left: -30%;
}
#modal-title {
  font-size: 36px;
  color: #fff;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 7px;
  display: block;
  padding-top: 0;
}
#modal-sub-msg {
  color: #fff;
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: 0.32px;
}
.modal-header {
  position: relative;
}

.modal-btn {
  position: absolute;
  bottom: 0%;
  right: 26%;
}
.modal-btn button {
  color: #5d676e;
  padding: 11px 0 10px;
  transition: background 0.3s ease-in;
  color: #5d676e;
  width: 204px;
  background: #eaeff4;
  box-shadow: none;
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: none;
}
/* social link */
.s-media-box {
  color: #5d676e !important;
  width: 80%;
  max-width: 348px;
  border: 1px solid #b3bdc0;
  margin: 0 auto 12px;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 4px;
}
.s-media-box a {
  color: #5d676e !important;
  text-decoration: none;
}
.signup-bottom {
  color: #5d676e !important;
  font-size: 14px;
  margin-left: 35px;
}
.btn-sm-bottom {
  color: #83c11f;
  font-weight: 700;
  text-decoration: none;
}
#login-bottom {
  display: none;
}
.signup-text {
  color: #868d92;
  font-size: 13px;
  margin-bottom: 0;
  text-align: left;
}
.signup-input {
  background: #f3f6f7;
  color: #5d676e;
  font-size: 12px;
  height: 40px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 10px;
}
.signup-check {
  color: #5d676e !important;
  font-size: 14px;
}
.main-sign-btn {
  margin-top: 35px !important;
  display: block;
  width: 100%;
  background: #83c11f;
  color: #fff;
  cursor: pointer;
  font-size: 1.125em;
  margin: 0 auto 10px;
  padding: 13px 10px;
  text-align: center;
  width: 100%;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  border: none;
}
.sign-up-here {
  position: relative;
}
.pointer-img {
  position: absolute;
  bottom: 59%;
  right: 36%;
}
#yahoo-box {
  visibility: hidden;
}
#f-pass {
  color: #83c11f !important;
  font-size: 14px;
  text-align: right;
  display: none;
  text-decoration: none;
  margin-left: 80px;
}
#checkbox-1 {
  display: none;
}
.close-btn {
  color: #fff !important;
  text-align: right !important;
  position: absolute;
  z-index: 1;
  right: 0;
  font-size: 20px;
}
.my-modal {
  position: relative;
}
.dollar-nav {
  list-style: none;
}
.dollor-sign {
  border: 1px solid #f99d27;
  background: #fff;
  border-radius: 100%;
  display: block;
  cursor: pointer;
  top: -0.5px;
  color: #f99d27;
  transition: 0.7s;
}
.dollor-sign i {
  font-size: 18px;

  padding: 10px;
}
.dollor-sign:hover {
  background: #f99d27;
  color: #fff !important;
}
.coin-drop {
  width: 400px !important;
  left: -245px !important;
}
.coin-drop p {
  font-size: 14px;
}

.btn-aff {
  color: #fff;
  background: #f99d27;
  border-radius: 20px;
  width: 178px;
  display: inline-block;
  padding: 10.5px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}
.language .dropdown-menu[data-bs-popper] {
  top: 141% !important;
  left: -114px !important;
  margin-top: 0.125rem;
}

/* intro section */
.my-pill {
  background: #f3f6f7;
  padding: 6px;
  width: 706px;
  margin: 24px auto;
  justify-content: center;
  border-radius: 50px;
}
.my-pill li button {
  letter-spacing: 0.84px !important;
  font-size: 14px !important;
  align-items: center;
  justify-content: center;
  color: #5d676e !important;
  padding: 0 28px !important;
  height: 42px !important;
  transition: all 0.3s ease-in-out;
  border-radius: 25px !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  padding: 0;
  font-weight: 500;
  background: #83c11f !important;
  color: #fff !important;
}
.pill-icon {
  display: inline-block !important;
  margin-right: 10px;
  width: 20px;
  color: #fff;
  background: #fff;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 5px;
  margin-top: -2px;
}
.icon-books {
  width: 1.125em;
}

/* 1st landing page start -----------------------------------------------------
----------------------------*/

/* banner section */
.banner-text {
  text-align: center;
  position: relative;
}
.banner-text h3 {
  font-size: 32px;
  color: #2d3941;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
}
.banner-text input {
  height: 64px;
  border-radius: 32px;
  border: 1px solid #b3bdc0;
  display: block;
  font-size: 20px;
  width: 704px;
  text-align: center;
  margin: auto;
  outline: none;
  margin-bottom: 20px;
}
.banner-text p {
  font-size: 18px;
  color: #5d676e;
  letter-spacing: 0.72px;
}
.input-text {
  position: absolute;
  top: 54%;
  right: 38%;
  color: #b3bdc0;
  font-size: 20px;
}
.banner-img {
  margin-top: -90px;
}

/* categories classs part */
.categories {
  background: linear-gradient(85deg, #75bb39 0, #56ae68 100%);
  padding: 40px 0 55px;
  position: relative;
}
.categories__bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/background.svg) center center/100% no-repeat;
  height: 100%;
  pointer-events: none;
}

.category-class h2 {
  text-align: center;
  color: #fff;
  font-size: 32px;
  margin-bottom: 24px;
}
.category-box {
  z-index: 11 !important;
  width: 183px;
  height: 152px;
  border-radius: 25px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 6px rgb(0 0 0 / 10%);
  margin: 0 42px 38px 0;
  padding: 27px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.category-box:hover {
  transform: scale(1.1);
}
.category-box:hover .icon-arrow-right2 {
  fill: #75bb39 !important;
}
.category-box img {
  width: 46px;
  margin-bottom: 10px;
}
.category-box h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;
  color: #5d676e;
}
.category-box a {
  color: #5d676e !important;
  text-decoration: none;
  font-size: 12px;
}
.category-box-1 {
  margin-left: 36%;
}
.learning-counter {
  box-shadow: 0 3px 6px rgb(0 0 0 / 21%);
  width: 395px;
  padding: 16px 28px 16px 48px;
  color: #717980;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  background: #fff;
  transform: translate(0, 50%);
  border-radius: 6px;
  left: 40px;
  text-align: center;
}
.learning-counter:after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #83c11f;
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translate(0, -50%);
}

/* goals */
.goals.goals--upper {
  padding: 33px 0 40px;
  background-color: #f3f6f7 !important;
  background-size: 111px auto;
  background-position: left 20px;
}
.goals {
  padding: 60px 0 76px;
  background: url(img/thedude.svg) center left no-repeat;
}
.goals-inner h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 12px;
  line-height: initial;
  color: #2d3941;
}
.goals-inner h5 {
  font-size: 18px;
  margin: 0 0 23px;
  text-align: center;
  color: #5d676e;
  line-height: 1;
}
.goals .goals__container {
  display: flex;
  justify-content: center;
}
.goals.goals--upper .goal:nth-child(1) {
  background-size: 63px auto;
}
.goals.goals--upper .goal:nth-child(1) {
  background-size: 63px auto;
}
.goals .goal:nth-child(1) {
  background: url(img/flag.svg) bottom right no-repeat;
}
.goals .goal:nth-child(2) {
  background: url(img/signpost.svg) bottom right no-repeat;
}
.goals .goal:nth-child(3) {
  background: url(img/jigsaw.svg) bottom right no-repeat;
}
.goals.goals--upper .goal {
  background-size: 65px auto !important;
  background-color: #fff !important;
  height: 84px;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 0 0 20px;
}
.goals .goal {
  background: #fff;
  width: 282px;
  height: 148px;
  box-shadow: 0 3px 6px rgb(5 5 5 / 16%);
  font-size: 20px;
  color: #5d676e;
  letter-spacing: 0.4px;
  line-height: 30px;
  border-radius: 12px;
  margin-right: 48.5px;
  padding: 23px 0 0 30px;
  display: block;
  font-weight: 300;
  text-decoration: none;
}

.goals .goal > span {
  font-weight: 700;
  display: block;
  max-width: 162px;
}
.goals.goals--upper .goal:nth-child(3) > span {
  display: inline;
}
.goals .goal:hover {
  outline: #64b453 solid 2px;
  transition: ease-in 0.3s;
}
.goals .goal:hover span {
  color: #64b453;
  transition: ease-in 0.3s;
}

/* courses part start */
.course-tab {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  padding: 0 15px;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.my-course-tab .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #465159;
  padding-bottom: 7px;
}
.my-course-tab .nav-link:hover {
  color: #75bb39 !important;
  border-bottom: 1px solid #75bb39;
}
.my-course-tab .nav-item.show .nav-link,
.my-course-tab .nav-link.active {
  color: #75bb39 !important;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.course-card .card {
  width: 250px !important;
  margin-right: 17px !important;
}
.course-card .card-body span {
  font-size: 12px;
  background: #2d3942;
  display: inline-block;
  margin: 0 0 15px;
  border-radius: 3px;
  text-transform: capitalize;
  transition: all 0.4s ease-in;
}
.course-card .card-body p {
  font-size: 16px;
  text-align: left;
  color: #2d3942;
  margin-bottom: 60px;
}
.course-card .card-body a {
  width: 171px;
  min-width: 171px;
  background: #0091c7;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  display: block;
}
.card-info .course-block-intro {
  background-color: #f2f2f2;
  text-align: center;
  width: 250px !important;
  margin-right: 17px !important;
}
.card-info .course-block-intro {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: #fff;
  height: 80%;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in;
}
.course-card .card:hover .card-info .course-block-intro {
  opacity: 1;
  cursor: pointer;
}
.card-info .course-block-intro .link-group {
  width: 100%;
  height: auto;
  margin: 0 auto;
  float: none;
  display: block;
  cursor: pointer;
}
.card-info .course-block-intro .link-group span.btn-facebook {
  background-color: #3b5999;
  padding-top: 8px;
}
.card-info .course-block-intro .link-group span {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  text-align: center;
  margin: 0 4px;
  background: #15212a;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  border: 2px solid #fff;
  transition: all 0.3s ease-in;
}
.card-info .course-block-intro .link-group span.btn-twitter {
  background-color: #0084ff;
  padding-top: 8px;
}
.card-info .course-block-intro .link-group span.btn-linkedin {
  background-color: #0077b5;
  padding-top: 8px;
  font-size: 16px;
  padding-left: 2px;
}
.card-info .course-block-intro > a {
  display: block;
  text-decoration: none;
  background: none;
  width: 100%;
}
.card-info .course-block-intro h3,
.card-info .course-block-intro h5 {
  font-size: 0.9375em;
  padding-top: 16px;
  color: #2d3942;
  font-weight: 700;
  margin-bottom: 10px;
}
.card-info .course-block-intro span {
  background: none;
}
.card-info .course-block-intro .publisher {
  color: #5d666d;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  font-size: 0.875em;
}
.card-info .course-block-intro .course-intro {
  margin-bottom: 25px;
  color: #2d3942;
  font-size: 0.875em;
}
.card-info .course-block-intro .more-info {
  color: #0094c9;
  margin-top: -15px;
  display: block;
  cursor: pointer;
}
.my-slide .slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;

  width: 48px !important;
  height: 48px !important;
  background-color: #fff;
  color: #008ec3 !important;
  border-radius: 100%;
  border: 1px solid #008ec3;
  padding: 5px;
  font-weight: 700;
}
.my-slide .slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 32px !important;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.my-slide .slick-next {
  right: 10px !important;
}
.my-slide {
  margin-left: 30px;
}
.my-slide .slick-prev {
  left: -55px !important;
}
.course-btn button {
  padding: 12.5px 39px;
  border-radius: 25px;
  color: #fff;
  background: #83c11f;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  border: 1px solid #83c11f;
  overflow: hidden;
  position: relative;
}

/* publisher section */
.publishers {
  background: #f3f6f7;
  padding: 50px 0;
  margin: 20px 0;
}
.publishers h2 {
  color: #2d3941;
  font-size: 20px;
  margin-bottom: 33px;
  font-weight: 500;
  text-align: center;
  opacity: 0.88;
}
.publishers img {
  margin-bottom: 10px;
}

/* career section */
.careers {
  padding-top: 40px;
}
.careers .inner {
  background: url(img/rocket.svg) top left no-repeat;
}
.careers h2 {
  color: #465159;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 54px;
}
.careers p {
  font-size: 16px;
  line-height: 28px;
  color: #646464;
  margin-bottom: 37px;
}
.careers a {
  text-decoration: none;
  border: 1px solid #b3bdc0;
  font-size: 16px;
  color: #5d676e;
  padding: 16px 24px 15px 22px;
  border-radius: 26px;
  display: inline-block;
  margin-bottom: 16px;
  transition: all 0.3s ease-in;
  margin-right: 12px;
  font-weight: 500;
}
.career-slide .slick-next {
  right: 140px;
}
.career-slide .slick-prev:before {
  display: none !important;
}
.view-more {
  background: none;
  border: none;
  outline: none;
  color: #83c11f !important;
  font-weight: 700;
  width: 146px;
  display: block !important;
  margin: 9px auto 46px;
  transition: all 0.3s ease-in;
}

/* tests section */
.tests {
  margin: 50px 0;
  background: linear-gradient(293deg, #d2e7bb 50%, #e5f1d7 50%);
}
.tests-inner {
  display: flex;
  background: #d2e7bb;
  background: linear-gradient(293deg, #d2e7bb 50%, #e5f1d7 50%);
}
.test-box h2 {
  font-size: 24px !important;
  color: #2d3941;
  line-height: 36px;
  margin: 53px 0 4px;
  font-weight: 700;
}
.test-box p {
  font-size: 16px;
  line-height: 28px;
  color: #646464;
  margin-bottom: 19px;
}
.test-box button {
  background: #83c124;
  color: #fff;
  border-radius: 25px;
  padding: 11px 24px 10px;
  margin-bottom: 70px;
  border: none;
  transition: all 0.3s ease-in-out;
  border: 1px solid #83c11f;
}
.test-box button:hover {
  border: 1px solid #6ea21f;
  background: #6ea21f;
  cursor: pointer;
}
/* testimonials section*/
.testimonials {
  background: #f3f6f7;
}
.testimonials-text h3 {
  font-size: 36px;
  font-weight: 300;
  width: 392px;
  color: #5d676e;
  line-height: 53px;
  margin: 106px 52px 107px 45px;
}
.testimonials-text h3 span {
  color: #1581af;
  font-weight: 700;
}
.testimonials-text {
  margin-right: 60px;
}
.testimonials-card {
  width: 336px !important;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 32px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  /* margin-left: 65px; */
}
.testimonials-card img {
  width: 336px;
  height: 189px;
}
.testimonials-card .card-body {
  text-align: center;
  padding: 15px 20px;
  background: #fff;
}
.testimonials-card .card-body h3 {
  font-size: 16px;
  color: #2d3941;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}
.testimonials-card .card-body p {
  color: #5d5d5d;
  font-size: 12px;
  margin-bottom: 0;
}

.testimonials-card .slick-prev::before {
  font-family: "slick";
  font-size: 32px !important;
  line-height: 1;
  opacity: 0.75;
  color: red !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.testimonials-card .slick-next:before,
.slick-prev:before {
  font-family: "slick";
  font-size: 32px !important;
  line-height: 1;
  opacity: 0.75;
  z-index: 1;
  width: 48px !important;
  height: 48px !important;
  background-color: #fff;
  color: #008ec3 !important;
  border-radius: 100%;
  border: 1px solid #008ec3;
  padding: 5px;
  font-weight: 700;
}

/* upskill story  */

.story-intro h2 {
  margin-top: 70px;
  color: #2d3941;
  font-size: 36px;
  line-height: 54px;
}
.story-intro p {
  font-size: 16px;
  line-height: 28px;
  color: #646464;
  margin-bottom: 37px;
}
.but-outline {
  text-decoration: none;
  background: #fff;
  color: #6ea21f;
  padding: 12.5px 39px;
  border-radius: 25px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  border: 1px solid #83c11f;
  overflow: hidden;
  position: relative;
  margin-bottom: 70px;
}
.but-outline:hover {
  background: #6ea21f;
  color: #fff;
}

/* app section */
.app {
  width: 100%;
  overflow: hidden;
  background: url(img/learn-anywhere-bg.svg) center center/120% no-repeat,
    linear-gradient(90deg, #0093c7 40%, #0878a1 60%);
}
.app .inner {
  min-height: 256px;
  padding-top: 40px;
}
.app-intro h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  margin-bottom: 8px;
}
.app-intro p {
  color: #fff;
  margin-bottom: 36px;
  font-size: 16px;
  line-height: 28px;
}
.app .app__nav a:nth-child(1) {
  margin-right: 25px;
}
.app-img {
  text-align: center;
}
.app-img img {
  width: 450px;
  height: 220px;
}
.app .app-intro {
  padding-left: 176px;
}

/* alison section */
.alison {
  position: relative;
  background: #f5fcec;
  background: linear-gradient(90deg, #f5fcec 50%, #e6f3fd 50%);
}
.alison .alison-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: url(./img/ireland.webp) top right/auto 100% no-repeat;
}
.alison .alison__section:nth-child(1) {
  padding: 58px 0 67px 131px;
}
.alison .alison__section:nth-child(1) .speech {
  color: #686868;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 26px;
  max-width: 384px;
  display: inline-block;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
}
.alison .alison__section:nth-child(1) .mike {
  color: #686868;
  font-size: 14px;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none !important;
}
.alison .alison__section:nth-child(1) .mike > span {
  font-size: 14px;
}
.alison .alison__section:nth-child(1) .mike > span span {
  font-size: 20px;
  display: block;
}
.medium {
  font-weight: 500;
}
.blue {
  color: #1581af;
  text-decoration: none !important;
}
.alison .alison__section:nth-child(1) .mike img {
  max-width: 74px;
  margin-right: 18px;
}
.alison .alison__section:nth-child(2) {
  color: #2e3942;
  padding-left: 101px;
}

.founded {
  line-height: 27px;
  letter-spacing: 1px;
  font-size: 20px !important;
  max-width: 214px;
  margin-bottom: 26px;
  display: block;
  color: #2e3942;
}
.bold {
  font-weight: 700;
}
.aColor {
  color: #2e3942 !important;
  font-size: 16px;
}
.alison .alison__world {
  pointer-events: none;
  position: absolute;
  width: 80%;
  height: 100%;
  background: url(./img/world.svg) center bottom no-repeat;
}

/* footer */
footer {
  padding: 20px 0 0;
  margin: 0 !important;
  background: #2e3942;
  padding: 0;

  z-index: 9;
}
.footer-bg {
  background-image: url(https://cdn01.alison-static.net/public/html/site/img/footer-triangles.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.footer_h3 {
  display: inline-block;
  border-bottom: 2px solid #0091c7;
  color: #fff;
  font: 300 1.075em Roboto, helvetica neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 25px 0 10px;
  padding-bottom: 3px;
  text-align: left !important;
}
.footer-link ul {
  list-style: none;
  text-align: left;
  /* padding-left: 38px !important; */
  padding-left: 0;
}
.footer-link ul li {
  margin-bottom: 3px;
}
.footer-link ul li a {
  color: #fff;
  font: 400 0.825em Roboto, helvetica neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s;
}
.footer-link ul li a:hover {
  color: #d9d9d9;
  margin-left: 3px;
}
.wrap-bottom {
  background: #1c232e;
  width: 100%;
  padding: 10px 0;
}
.w-bottom img {
  display: inline-block;
  margin-right: 20px;
  width: 135px;
}
.w-bottom a {
  font: 300 0.975em Roboto, helvetica neue, Helvetica, Arial, sans-serif;
  padding: 0 10px;
  color: #505960 !important;
  border-right: 1px solid #505960;
}

/* media quary -------------------------*/
@media (min-width: 320px) and (max-width: 1024px) {
  /* header */
  .my-pill {
    background: #f3f6f7;
    padding: 0px;
    width: 380px;
    margin: 0;
    border-radius: 50px;
  }
  .my-pill li button {
    letter-spacing: 0 !important;
    font-size: 9px !important;
    display: inline-block;
    color: #5d676e !important;
    padding: 0 5px !important;
    height: 32px !important;
    transition: all 0.3s ease-in-out;
    border-radius: 25px !important;
  }
  .banner-text h3 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .banner-text input {
    width: 302px;
    height: 36px;
    font-size: 12px;
  }
  .banner-text p {
    font-size: 11px;
  }
  .banner-img img {
    width: 175px;
  }
  .banner-img img:nth-child(1) {
    position: relative;
    top: 15px;
  }

  .banner .row > * {
    flex-shrink: 0;
    width: 47% !important;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
  .banner-img {
    margin-top: 10px;
  }

  /* category */
  .categories {
    padding: 18px 10px 43px;
  }
  .categories h2 {
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
  }
  .category-box {
    width: 96px;
    height: 116px;
    margin: 0 0 12px;
    padding: 20px 5px;
    border-radius: 16px;
  }
  .category-box-div .row > * {
    flex-shrink: 0;
    width: 33% !important;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
  .my-lg {
    display: none !important;
  }
  .category-box img {
    width: 24px;
    margin-bottom: 6px;
    height: auto;
  }
  .category-box h3 {
    font-size: 12px;
  }
  .category-box a {
    font-size: 10px;
  }
  .learning-counter {
    width: 296px;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 12px;
    padding: 12px 16px 12px 36px;
  }
  /* goals */
  .goals {
    padding: 60px 0 76px;
    background: none;
    order: 3;
    padding-top: 45px;
  }
  .goals .goals__container {
    flex-direction: column;
    align-items: center;
  }
  .goals .goal {
    margin: 0 0 20px;
    height: 92px;
    font-size: 16px;
    line-height: 24px;
    padding: 23px 0 0 24px;
    background-size: 64px !important;
  }
  .goals.goals--upper h2 {
    font-size: 18px;
  }
  .goals.goals--upper h5 {
    font-size: 14px;
  }
  /* projects-section */
  .projects-section .nav button:nth-child(1) {
    display: block;
    text-align: center;
  }
  .projects-section .nav button:nth-child(2) {
    display: none;
  }
  .projects-section .nav button:nth-child(3) {
    display: none;
  }
  .projects-section .nav button:nth-child(4) {
    display: none;
  }
  .my-course-tab .nav-item.show .nav-link,
  .my-course-tab .nav-link.active {
    color: #495057 !important;
  }
  .my-slide {
    margin-left: 0px;
    margin: 0 auto;
  }
  .course-card .card {
    width: 200px !important;
    margin-right: 17px !important;
  }
  /* publishers-box */
  .publishers-box {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 30px !important;
  }
  .publishers-hide {
    display: none !important;
  }
  .publishers-box img {
    width: 60px;
  }
  .publishers img {
    margin-bottom: 20px;
  }
  /* course */
  .careers a {
    text-decoration: none;
    border: 1px solid #b3bdc0;
    font-size: 14px;
    color: #5d676e;
    padding: 16px 22px 15px 22px;
    border-radius: 26px;
    display: inline-block;
    margin-bottom: 16px;
    transition: all 0.3s ease-in;
    margin-right: 12px;
    font-weight: 500;
  }
  .careers h2 {
    font-size: 20px;
    line-height: 28px;
    max-width: 214px;
    margin: 0 auto 24px;
  }
  .careers .inner {
    background: none;
  }
  .careers h2 {
    font-size: 20px;
    line-height: 28px;
    max-width: 236px;
    margin: 0 auto 20px;
  }
  .careers p {
    display: none;
  }
  .career-slide .slick-next {
    right: 44px;
    top: 148px;
  }
  /* tests */
  .tests {
    display: none;
  }

  /* testimonials */
  .testimonials h3 {
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto 20px;
    width: 280px;
    text-align: center;
  }
  .testimonials-text {
    margin-right: 0px;
  }
  .testimonials-card {
    width: 240px !important;
    margin-right: 0px;
    margin-left: 5px;
  }
  .testimonials-card img {
    width: 100%;
    height: 189px;
  }
  .testimonials-card .card-body {
    text-align: center;
    padding: 10px 0px !important;
    background: #fff;
  }
  .testimonials h3 {
    width: 100% !important;
  }
  .testimonials {
    padding: 10px 0;
  }
  .responsive {
    width: 100% !important;
    overflow: hidden !important;
  }
  
  .testimonials-slider {
    width: 100%;
    overflow: visible;
    padding-left: 24px;
  }
  /* upskill */
  .upskill img {
    display: block !important;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .story-intro p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    text-align: center;
  }
  .story-intro h2 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 24px;
  }
  .but-box {
    text-align: center;
  }
  .but-outline {
    text-align: center;
    font-size: 14px;
    padding: 9px 18px;
    margin-bottom: 28px;
  }
  /* app */
  .app {
    background: linear-gradient(77deg, #0093c7 0, #0878a0 100%) no-repeat
      padding-box;
  }
  .app-img {
    display: none;
  }
  .app .inner {
    padding: 32px 0 0;
    min-height: 172px;
    background-image: url(img/app-mobile-bg.svg);
    display: block;
  }
  .app .app-intro {
    padding: 0;
  }
  .app h3 {
    display: none;
  }
  .app-intro p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 24px;
    max-width: 217px;
    text-align: center;
  }
  .app .app__nav {
    display: flex;
    justify-content: center;
  }
  .app .app__nav a:nth-child(1) {
    margin-right: 20px;
  }
  /* alison */
  .alison .alison-bg {
    display: none;
  }
  .alison .alison__section:nth-child(1) {
    padding: 32px 0 41px 24px;
  }
  .alison .alison__section:nth-child(2) {
    padding: 0;
  }
  .alison .alison__world {
    display: none;
  }
  .alison .alison__section:nth-child(1) .speech {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 20px;
    max-width: 274px;
  }
  .alison .alison__section:nth-child(1) .mike img {
    width: 48px;
    height: auto;
  }
  .alison .alison__section:nth-child(2) img {
    width: 100px;
  }
  .founded {
    font-size: 14px !important;
    margin-bottom: 19px;
    line-height: 21px;
    max-width: 197px;
  }
  .aColor {
    color: #2e3942 !important;
    font-size: 14px;
  }
  /* footer */
  .footer_h3 {
    margin-left: 20%;
  }
  .footer-link ul {
    padding-left: 20% !important;
  }
  .w-bottom {
    text-align: center;
  }
  .w-bottom img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  .dollor-sign {
    display: none;
  }
}

/* All desktop styles attached only after 1025px
@media (min-width: 1025px) {
  .nav{ background: green; }
} */
